{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Quiz App{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap styling -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- custom CSS -->

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="d-flex flex-column min-vh-100">

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light custom-navbar">
  <div class="container">

    <a class="navbar-brand fw-bold text-black" href="{% url 'home' %}">Quiz App</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">

        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'quiz_list' %}">Quizzes</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>

        {% if user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="{% url 'quiz_history' %}">My History</a></li>

          <!-- Username -->

          <li class="nav-item">
            <span class="nav-link">Hi, {{ user.username }}</span>
          </li>

          <!-- Logout button-->

          <li class="nav-item">

            <form method="post" action="{% url 'logout' %}" class="d-inline">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-light btn-sm ms-2">Logout</button>
            </form>

          </li>

        {% else %}

          <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">Sign Up</a></li>

        {% endif %}
        
      </ul>
    </div>
  </div>
</nav>


  <!-- Content -->
  
  <main class="container mt-4 mb-5">
    {% block content %}{% endblock %}
  </main>

  <!-- Footer -->

 <footer class="footer mt-auto">
  <div class="footer-box w-100 py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6">

          <h5 class="fw-bold text-black">Django Quiz App</h5>
          <p class="text-muted">Test your knowledge in Python, Django and web dev.</p>

        </div>

        <div class="col-md-3">

          <h6 class="text-black">Quick Links</h6>
          <ul class="list-unstyled">

            <li><a class="footer-link" href="{% url 'quiz_list' %}">Quizzes</a></li>
            <li><a class="footer-link" href="{% url 'login' %}">Login</a></li>
            <li><a class="footer-link" href="{% url 'signup' %}">Sign Up</a></li>
          </ul>

        </div>

        <div class="col-md-3">

          <h6 class="text-black">Contact</h6>
          <p class="text-muted mb-0"> support@quizapp.com</p>
          <p class="text-muted mb-0">+92 300 1234567</p>

        </div>
      </div>

    </div>
  </div>

</footer>



     <div class="footer-bottom">

    © {{ now|date:"Y" }} Django Quiz App — Built with Django & Bootstrap
  </div>

  </footer>

  <!-- Bootstrap JS -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Your custom JS -->
  
  <script src="{% static 'js/quiz.js' %}"></script>
</body>
</html>



